{{page-title "Index"}}

<form {{action "login" @model on="submit"}}>
  <Input required type="email" @value={{@model.email}} placeholder="Votre email" />
  <Input required type="password" @value={{@model.password}} placeholder="Votre mot de passe" />

{{#if (is-empty @model.email ) }}
    <button type="submit" disabled>Se connecter</button>
    <br/>
    Erreur : veuillez remplir tous les champs

{{else}}
  {{#if (is-empty @model.password) }}
    <button type="submit" disabled>Se connecter</button>
    <br/>
    Erreur : veuillez remplir tous les champs
  {{else}}
    <button type="submit" >Se connecter</button>
  {{/if}}
{{/if}}


</form>
{{outlet}}