{{page-title "Index"}}

<form {{action "login" @model on="submit"}}>
  <Input required type="email" @value={{@model.email}} placeholder="Votre email" />
  <Input required type="password" @value={{@model.password}} placeholder="Votre mot de passe" />
{{#if (eq @model.email '') }}
  <button type="submit" disabled>Se connecter</button>
{{else}}
  <button type="submit" >Se connecter</button>
{{/if}}


</form>
{{outlet}}